<%= link_to 'Go to Sections', design_sections_path %>
<!-- HEADINGS -->
    <div class="section--xs">
      <div class="container">
        <div class="headings-container">
          <h2 class="heading">Typography</h2>
          <p class="heading heading--xxl">Heading xx-large</p>
          <p class="heading heading--xl">Heading x-large</p>
          <p class="heading heading--lg">Heading large</p>
          <p class="heading">Heading base</p>
          <p class="heading heading--sm">Heading small</p>
          <p class="heading heading--xs">Heading x-small</p>
          <p class="content--xl">Content x-large</p>
          <p class="content--lg">Content large</p>
          <p>Content base</p>
          <p class="content--sm">Content small</p>
          <p class="content--xs">Content x-small</p>
          <br />
        </div>
      </div>
    </div>

    <!-- BUTTONS -->
    <div class="section--xs">
      <div class="container">
        <h2 class="heading">Buttons</h2>
        <div class="buttons-container">
          <!-- Primary, Default size -->
          <div class="button-row">
            <button class="btn btn--primary">Button Text</button>
            <button class="btn btn--primary btn--loading">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="btn__icon"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15"
                />
              </svg>

              Button Text
            </button>
            <button class="btn btn--primary btn--loading">
              Button Text
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="btn__icon"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15"
                />
              </svg>
            </button>
            <button class="btn btn--primary btn--only-icon btn--loading">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="btn__icon"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15"
                />
              </svg>
            </button>
          </div>
          <!-- Secondary, Default size -->
          <div class="button-row">
            <button class="btn btn--secondary">Button Text</button>
            <button class="btn btn--secondary btn--loading">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="btn__icon"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15"
                />
              </svg>
              Button Text
            </button>
            <button class="btn btn--secondary btn--loading">
              Button Text
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="btn__icon"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15"
                />
              </svg>
            </button>
            <button class="btn btn--only-icon btn--secondary btn--loading">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="btn__icon"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15"
                />
              </svg>
            </button>
          </div>
          <!-- Subtle, Default size -->
          <div class="button-row">
            <button class="btn btn--subtle">Button Text</button>
            <button class="btn btn--subtle">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="btn__icon"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
                />
                <path
                  d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
                />
              </svg>
              Button Text
            </button>
            <button class="btn btn--subtle">
              Button Text
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="btn__icon"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
                />
                <path
                  d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
                />
              </svg>
            </button>
            <button class="btn btn--only-icon btn--subtle">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="btn__icon"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
          </div>
          <!-- Primary, Small size -->
          <div class="button-row">
            <button class="btn btn--primary btn--small">Button Text</button>
            <button class="btn btn--primary btn--small">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="btn__icon"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
                />
                <path
                  d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
                />
              </svg>
              Button Text
            </button>
            <button class="btn btn--primary btn--small">
              Button Text
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="btn__icon"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
                />
                <path
                  d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
                />
              </svg>
            </button>
            <button class="btn btn--primary btn--only-icon btn--small">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="btn__icon"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
          </div>
          <!-- Secondary, Small size -->
          <div class="button-row">
            <button class="btn btn--secondary btn--small">Button Text</button>
            <button class="btn btn--secondary btn--small">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="btn__icon"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
                />
                <path
                  d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
                />
              </svg>
              Button Text
            </button>
            <button class="btn btn--secondary btn--small">
              Button Text
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="btn__icon"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
                />
                <path
                  d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
                />
              </svg>
            </button>
            <button class="btn btn--only-icon btn--secondary btn--small">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="btn__icon"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
          </div>
          <!-- Subtle, Small size -->
          <div class="button-row">
            <button class="btn btn--subtle btn--small">Button Text</button>
            <button class="btn btn--subtle btn--small">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="btn__icon"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
                />
                <path
                  d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
                />
              </svg>
              Button Text
            </button>
            <button class="btn btn--subtle btn--small">
              Button Text
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="btn__icon"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
                />
                <path
                  d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
                />
              </svg>
            </button>
            <button class="btn btn--only-icon btn--subtle btn--small">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="btn__icon"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
          </div>
          <!-- Primary, Large size -->
          <div class="button-row">
            <button class="btn btn--primary btn--large">Button Text</button>
            <button class="btn btn--primary btn--large">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="btn__icon"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
                />
                <path
                  d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
                />
              </svg>
              Button Text
            </button>
            <button class="btn btn--primary btn--large">
              Button Text
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="btn__icon"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
                />
                <path
                  d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
                />
              </svg>
            </button>
            <button class="btn btn--primary btn--only-icon btn--large">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="btn__icon"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
          </div>
          <!-- Secondary, Large size -->
          <div class="button-row">
            <button class="btn btn--secondary btn--large">Button Text</button>
            <button class="btn btn--secondary btn--large">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="btn__icon"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
                />
                <path
                  d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
                />
              </svg>
              Button Text
            </button>
            <button class="btn btn--secondary btn--large">
              Button Text
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="btn__icon"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
                />
                <path
                  d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
                />
              </svg>
            </button>
            <button class="btn btn--only-icon btn--secondary btn--large">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="btn__icon"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
          </div>
          <!-- Ghost, Large size -->
          <div class="button-row">
            <button class="btn btn--subtle btn--large">Button Text</button>
            <button class="btn btn--subtle btn--large">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="btn__icon"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
                />
                <path
                  d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
                />
              </svg>
              Button Text
            </button>
            <button class="btn btn--subtle btn--large">
              Button Text
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="btn__icon"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
                />
                <path
                  d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
                />
              </svg>
            </button>
            <button class="btn btn--only-icon btn--subtle btn--large">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="btn__icon"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- NAVBARS -->
    <div class="section--xs">
      <div class="container">
        <h2 class="heading">Navbars</h2>
        <div class="shadow">
          <div class="navbar">
            <div class="navbar__left">
              <img class="navbar__logo" src="/images/logo.png" />
              <ul class="navbar__item-list">
                <li class="navbar__item active">
                  <a class="navbar__link" href="#">Link</a>
                </li>
                <li class="navbar__item">
                  <a class="navbar__link active" href="#">Link</a>
                </li>
                <li class="navbar__item">
                  <a class="navbar__link active" href="#">Link</a>
                </li>
                <li class="navbar__item">
                  <a class="navbar__link active" href="#">Link</a>
                </li>
              </ul>
            </div>
            <div class="navbar__right align-center">
              <button class="btn">Login</button>
              <button class="btn btn--primary">Sign Up</button>
            </div>
          </div>
        </div>
        <div class="navbar navbar--side shadow">
          <div class="navbar__body">
            <img class="navbar__logo" src="/images/logo.png" />
            <ul class="navbar__item-list">
              <li class="navbar__item active">
                <a class="navbar__link" href="#"
                  ><svg
                    class="navbar__item-icon"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1 10L3 8M3 8L10 1L17 8M3 8V18C3 18.5523 3.44772 19 4 19H7M17 8L19 10M17 8V18C17 18.5523 16.5523 19 16 19H13M7 19C7.55228 19 8 18.5523 8 18V14C8 13.4477 8.44772 13 9 13H11C11.5523 13 12 13.4477 12 14V18C12 18.5523 12.4477 19 13 19M7 19H13"
                      stroke="#303036"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                  Link</a
                >
              </li>
              <li class="navbar__item">
                <a class="navbar__link active" href="#">
                  <svg
                    class="navbar__item-icon"
                    width="18"
                    height="18"
                    viewBox="0 0 18 18"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M17 10V3C17 1.89543 16.1046 1 15 1H3C1.89543 1 1 1.89543 1 3V10M17 10V15C17 16.1046 16.1046 17 15 17H3C1.89543 17 1 16.1046 1 15V10M17 10H14.4142C14.149 10 13.8946 10.1054 13.7071 10.2929L11.2929 12.7071C11.1054 12.8946 10.851 13 10.5858 13H7.41421C7.149 13 6.89464 12.8946 6.70711 12.7071L4.29289 10.2929C4.10536 10.1054 3.851 10 3.58579 10H1"
                      stroke="#7A7A7A"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                  Link</a
                >
              </li>
              <li class="navbar__item">
                <a class="navbar__link active" href="#">
                  <svg
                    class="navbar__item-icon"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M13 7C13 9.20914 11.2091 11 9 11C6.79086 11 5 9.20914 5 7C5 4.79086 6.79086 3 9 3C11.2091 3 13 4.79086 13 7Z"
                      stroke="#7A7A7A"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M9 14C5.68629 14 3 16.6863 3 20V21H15V20C15 16.6863 12.3137 14 9 14Z"
                      stroke="#7A7A7A"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M21 12L15 12"
                      stroke="#303036"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                  Link</a
                >
              </li>
              <li class="navbar__item">
                <a class="navbar__link active" href="#"
                  ><svg
                    class="navbar__item-icon"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M10 0.900002C10.3866 0.900002 10.7 1.2134 10.7 1.6V2.8C10.7 3.1866 10.3866 3.5 10 3.5C9.61342 3.5 9.30002 3.1866 9.30002 2.8V1.6C9.30002 1.2134 9.61342 0.900002 10 0.900002ZM16.4346 3.56527C16.708 3.83863 16.708 4.28185 16.4346 4.55522L15.5861 5.40374C15.3128 5.67711 14.8695 5.67711 14.5962 5.40374C14.3228 5.13038 14.3228 4.68716 14.5962 4.41379L15.4447 3.56527C15.7181 3.2919 16.1613 3.2919 16.4346 3.56527ZM19.1 10C19.1 10.3866 18.7866 10.7 18.4 10.7H17.2C16.8134 10.7 16.5 10.3866 16.5 10C16.5 9.6134 16.8134 9.3 17.2 9.3H18.4C18.7866 9.3 19.1 9.6134 19.1 10ZM5.40375 5.40376C5.13039 5.67713 4.68717 5.67713 4.4138 5.40376L3.56528 4.55524C3.29191 4.28187 3.29191 3.83865 3.56528 3.56529C3.83864 3.29192 4.28186 3.29192 4.55522 3.56529L5.40375 4.41382C5.67712 4.68718 5.67712 5.1304 5.40375 5.40376ZM3.50002 10C3.50002 10.3866 3.18662 10.7 2.80002 10.7H1.60002C1.21343 10.7 0.900024 10.3866 0.900024 10C0.900024 9.6134 1.21342 9.3 1.60002 9.3H2.80002C3.18662 9.3 3.50002 9.6134 3.50002 10ZM8.10002 17.2V16.5H11.9V17.2C11.9 18.2493 11.0494 19.1 10 19.1C8.95068 19.1 8.10002 18.2493 8.10002 17.2ZM12.6623 13.3769C12.3709 13.6071 12.1206 13.9239 11.9921 14.3H8.00794C7.87947 13.9239 7.62916 13.6071 7.3377 13.3769C6.33933 12.5886 5.70002 11.3691 5.70002 10C5.70002 7.62518 7.6252 5.7 10 5.7C12.3748 5.7 14.3 7.62518 14.3 10C14.3 11.3691 13.6607 12.5886 12.6623 13.3769Z"
                      stroke="#7A7A7A"
                    />
                  </svg>
                  Link</a
                >
              </li>
            </ul>
          </div>
          <div class="navbar__footer">
            <button class="btn">Login</button>
            <button class="btn btn--primary">Sign Up</button>
          </div>
        </div>
      </div>
    </div>

    <!-- INPUTS -->
    <div class="section--xs">
      <div class="container">
        <h2 class="heading">Inputs</h2>
        <!-- Without Error -->
        <div class="flex gap-16 mb-8">
          <div class="input">
            <label for="input-1" class="content--xs overline"
              >Input Label</label
            >
            <div class="input__container">
              <svg
                class="input__icon"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M3 8L10.8906 13.2604C11.5624 13.7083 12.4376 13.7083 13.1094 13.2604L21 8M5 19H19C20.1046 19 21 18.1046 21 17V7C21 5.89543 20.1046 5 19 5H5C3.89543 5 3 5.89543 3 7V17C3 18.1046 3.89543 19 5 19Z"
                  stroke="#7A7A7A"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <input
                type="text"
                placeholder="placeholder"
                class="input__content"
                id="input-1"
              />
            </div>
            <span class="content--sm gray-300">Input help text</span>
          </div>
          <div class="input input--with-icon">
            <label for="input-2" class="content--xs overline"
              >Input Label</label
            >
            <div class="input__container">
              <svg
                class="input__icon"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M3 8L10.8906 13.2604C11.5624 13.7083 12.4376 13.7083 13.1094 13.2604L21 8M5 19H19C20.1046 19 21 18.1046 21 17V7C21 5.89543 20.1046 5 19 5H5C3.89543 5 3 5.89543 3 7V17C3 18.1046 3.89543 19 5 19Z"
                  stroke="#7A7A7A"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <input
                type="text"
                placeholder="placeholder"
                class="input__content"
                id="input-2"
              />
            </div>
            <span class="content--sm gray-300">Input help text</span>
          </div>
        </div>
        <!-- With Error -->
        <div class="flex gap-16 mb-8">
          <div class="input input--error">
            <label for="input-3" class="content--xs overline"
              >Input Label</label
            >
            <div class="input__container">
              <svg
                class="input__icon"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M3 8L10.8906 13.2604C11.5624 13.7083 12.4376 13.7083 13.1094 13.2604L21 8M5 19H19C20.1046 19 21 18.1046 21 17V7C21 5.89543 20.1046 5 19 5H5C3.89543 5 3 5.89543 3 7V17C3 18.1046 3.89543 19 5 19Z"
                  stroke="#7A7A7A"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <input
                type="text"
                placeholder="placeholder"
                class="input__content"
                id="input-3"
              />
            </div>
            <span class="content--sm input__error-message">Error message</span>
            <span class="content--sm gray-300">Input help text</span>
          </div>
          <div class="input input--error input--with-icon">
            <label for="input-4" class="content--xs overline"
              >Input Label</label
            >
            <div class="input__container">
              <svg
                class="input__icon"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M3 8L10.8906 13.2604C11.5624 13.7083 12.4376 13.7083 13.1094 13.2604L21 8M5 19H19C20.1046 19 21 18.1046 21 17V7C21 5.89543 20.1046 5 19 5H5C3.89543 5 3 5.89543 3 7V17C3 18.1046 3.89543 19 5 19Z"
                  stroke="#7A7A7A"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <input
                type="text"
                placeholder="placeholder"
                class="input__content"
                id="input-4"
              />
            </div>
            <span class="content--sm input__error-message">Error message</span>
            <span class="content--sm gray-300">Input help text</span>
          </div>
        </div>
      </div>
    </div>

    <!-- SELECTS -->
    <div class="section--xs">
      <div class="container">
        <h2 class="heading">Selects</h2>
        <!-- Without Error -->
        <div class="flex gap-16 mb-8">
          <div class="select">
            <label for="select-1" class="content--xs overline"
              >Input Label</label
            >
            <select class="select__input" id="select-1">
              <option value="">Select one option</option>
              <option value="1">Option one</option>
              <option value="2">Option two</option>
            </select>
            <span class="content--sm gray-300">Input help text</span>
          </div>

          <div class="select select--error">
            <label for="select-2" class="content--xs overline"
              >Input Label</label
            >
            <select class="select__input" id="select-2">
              <option value="">Select one option</option>
              <option value="1">Option one</option>
              <option value="2">Option two</option>
            </select>
            <span class="content--sm select__error-message">Error message</span>
            <span class="content--sm gray-300">Input help text</span>
          </div>
        </div>
      </div>
    </div>

    <!-- RADIO BUTTON -->
    <div class="section--xs">
      <div class="container">
        <h2 class="heading">Radio Button</h2>
        <div class="radio-btn">
          <input
            type="radio"
            name="radio"
            id="radio"
            class="radio-btn__input"
          />
          <div class="radio-btn__text-container">
            <label for="radio" class="content--sm">Option</label>
            <span class="content--sm gray-300 radio-btn__help-text"
              >Help text</span
            >
          </div>
        </div>

        <h3 class="heading heading--xs">Examples</h3>
        <div>
          <p class="mb-4">Select one option</p>
          <div class="radio-btn__opt-group">
            <div class="radio-btn">
              <input
                type="radio"
                name="radio-value"
                id="radio-opt1"
                class="radio-btn__input"
              />
              <div class="radio-btn__text-container">
                <label for="radio-opt1" class="content--sm">Option 1</label>
                <!-- <span class="content--sm gray-300">Help text</span> -->
              </div>
            </div>
            <div class="radio-btn">
              <input
                type="radio"
                name="radio-value"
                id="radio-opt2"
                class="radio-btn__input"
              />
              <div class="radio-btn__text-container">
                <label for="radio-opt2" class="content--sm">Option 2</label>
                <!-- <span class="content--sm gray-300">Help text</span> -->
              </div>
            </div>
            <div class="radio-btn">
              <input
                type="radio"
                name="radio-value"
                id="radio-opt3"
                class="radio-btn__input"
              />
              <div class="radio-btn__text-container">
                <label for="radio-opt3" class="content--sm">Option 3</label>
                <!-- <span class="content--sm gray-300">Help text</span> -->
              </div>
            </div>
          </div>
        </div>
        <div>
          <p class="mb-4">Select one option</p>
          <div class="radio-btn__opt-group">
            <div class="radio-btn">
              <input
                type="radio"
                name="radio-value2"
                id="radio-opt4"
                class="radio-btn__input"
              />
              <div class="radio-btn__text-container">
                <label for="radio-opt4" class="content--sm">Option 1</label>
                <span class="content--sm gray-300">Help text</span>
              </div>
            </div>
            <div class="radio-btn">
              <input
                type="radio"
                name="radio-value2"
                id="radio-opt5"
                class="radio-btn__input"
              />
              <div class="radio-btn__text-container">
                <label for="radio-opt5" class="content--sm">Option 2</label>
                <span class="content--sm gray-300">Help text</span>
              </div>
            </div>
            <div class="radio-btn">
              <input
                type="radio"
                name="radio-value2"
                id="radio-opt6"
                class="radio-btn__input"
              />
              <div class="radio-btn__text-container">
                <label for="radio-opt6" class="content--sm">Option 3</label>
                <span class="content--sm gray-300">Help text</span>
              </div>
            </div>
          </div>
        </div>

        <div>
          <p class="mb-4">Select one option</p>
          <div class="radio-btn__opt-group radio-btn__opt-group--horizontal">
            <div class="radio-btn">
              <input
                type="radio"
                name="radio-value-3"
                id="radio-opt31"
                class="radio-btn__input"
              />
              <div class="radio-btn__text-container">
                <label for="radio-opt31" class="content--sm">Option 1</label>
                <!-- <span class="content--sm gray-300">Help text</span> -->
              </div>
            </div>
            <div class="radio-btn">
              <input
                type="radio"
                name="radio-value-3"
                id="radio-opt32"
                class="radio-btn__input"
              />
              <div class="radio-btn__text-container">
                <label for="radio-opt32" class="content--sm">Option 2</label>
                <!-- <span class="content--sm gray-300">Help text</span> -->
              </div>
            </div>
            <div class="radio-btn">
              <input
                type="radio"
                name="radio-value-3"
                id="radio-opt33"
                class="radio-btn__input"
              />
              <div class="radio-btn__text-container">
                <label for="radio-opt33" class="content--sm">Option 3</label>
                <!-- <span class="content--sm gray-300">Help text</span> -->
              </div>
            </div>
          </div>
        </div>
        <div>
          <p class="mb-4">Select one option</p>
          <div class="radio-btn__opt-group radio-btn__opt-group--horizontal">
            <div class="radio-btn">
              <input
                type="radio"
                name="radio-value-4"
                id="radio-opt41"
                class="radio-btn__input"
              />
              <div class="radio-btn__text-container">
                <label for="radio-opt41" class="content--sm">Option 1</label>
                <span class="content--sm gray-300">Help text</span>
              </div>
            </div>
            <div class="radio-btn">
              <input
                type="radio"
                name="radio-value-4"
                id="radio-opt42"
                class="radio-btn__input"
              />
              <div class="radio-btn__text-container">
                <label for="radio-opt42" class="content--sm">Option 2</label>
                <span class="content--sm gray-300">Help text</span>
              </div>
            </div>
            <div class="radio-btn">
              <input
                type="radio"
                name="radio-value-4"
                id="radio-opt43"
                class="radio-btn__input"
              />
              <div class="radio-btn__text-container">
                <label for="radio-opt43" class="content--sm">Option 3</label>
                <span class="content--sm gray-300">Help text</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- CHECKBOX -->
    <div class="section--xs">
      <div class="container">
        <h2 class="heading">Checkboxes</h2>
        <div class="checkbox">
          <input
            type="checkbox"
            name="checkbox"
            id="checkbox"
            class="checkbox__input"
          />
          <div class="checkbox__text-container">
            <label for="checkbox" class="content--sm">Option</label>
            <span class="content--sm gray-300 checkbox__help-text"
              >Help text</span
            >
          </div>
        </div>

        <h3 class="heading heading--xs">Examples</h3>
        <div>
          <p class="mb-4">Select one option</p>
          <div class="checkbox__opt-group">
            <div class="checkbox">
              <input
                type="checkbox"
                name="checkbox-value"
                id="checkbox-opt1"
                class="checkbox__input"
              />
              <div class="checkbox__text-container">
                <label for="checkbox-opt1" class="content--sm">Option 1</label>
                <!-- <span class="content--sm gray-300">Help text</span> -->
              </div>
            </div>
            <div class="checkbox">
              <input
                type="checkbox"
                name="checkbox-value"
                id="checkbox-opt2"
                class="checkbox__input"
              />
              <div class="checkbox__text-container">
                <label for="checkbox-opt2" class="content--sm">Option 2</label>
                <!-- <span class="content--sm gray-300">Help text</span> -->
              </div>
            </div>
            <div class="checkbox">
              <input
                type="checkbox"
                name="checkbox-value"
                id="checkbox-opt3"
                class="checkbox__input"
              />
              <div class="checkbox__text-container">
                <label for="checkbox-opt3" class="content--sm">Option 3</label>
                <!-- <span class="content--sm gray-300">Help text</span> -->
              </div>
            </div>
          </div>
        </div>
        <div>
          <p class="mb-4">Select one option</p>
          <div class="checkbox__opt-group">
            <div class="checkbox">
              <input
                type="checkbox"
                name="checkbox-value2"
                id="checkbox-opt4"
                class="checkbox__input"
              />
              <div class="checkbox__text-container">
                <label for="checkbox-opt4" class="content--sm">Option 1</label>
                <span class="content--sm gray-300">Help text</span>
              </div>
            </div>
            <div class="checkbox">
              <input
                type="checkbox"
                name="checkbox-value2"
                id="checkbox-opt5"
                class="checkbox__input"
              />
              <div class="checkbox__text-container">
                <label for="checkbox-opt5" class="content--sm">Option 2</label>
                <span class="content--sm gray-300">Help text</span>
              </div>
            </div>
            <div class="checkbox">
              <input
                type="checkbox"
                name="checkbox-value2"
                id="checkbox-opt6"
                class="checkbox__input"
              />
              <div class="checkbox__text-container">
                <label for="checkbox-opt6" class="content--sm">Option 3</label>
                <span class="content--sm gray-300">Help text</span>
              </div>
            </div>
          </div>
        </div>

        <div>
          <p class="mb-4">Select one option</p>
          <div class="checkbox__opt-group checkbox__opt-group--horizontal">
            <div class="checkbox">
              <input
                type="checkbox"
                name="checkbox-value-3"
                id="checkbox-opt31"
                class="checkbox__input"
              />
              <div class="checkbox__text-container">
                <label for="checkbox-opt31" class="content--sm">Option 1</label>
                <!-- <span class="content--sm gray-300">Help text</span> -->
              </div>
            </div>
            <div class="checkbox">
              <input
                type="checkbox"
                name="checkbox-value-3"
                id="checkbox-opt32"
                class="checkbox__input"
              />
              <div class="checkbox__text-container">
                <label for="checkbox-opt32" class="content--sm">Option 2</label>
                <!-- <span class="content--sm gray-300">Help text</span> -->
              </div>
            </div>
            <div class="checkbox">
              <input
                type="checkbox"
                name="checkbox-value-3"
                id="checkbox-opt33"
                class="checkbox__input"
              />
              <div class="checkbox__text-container">
                <label for="checkbox-opt33" class="content--sm">Option 3</label>
                <!-- <span class="content--sm gray-300">Help text</span> -->
              </div>
            </div>
          </div>
        </div>
        <div>
          <p class="mb-4">Select one option</p>
          <div class="checkbox__opt-group checkbox__opt-group--horizontal">
            <div class="checkbox">
              <input
                type="checkbox"
                name="checkbox-value-4"
                id="checkbox-opt41"
                class="checkbox__input"
              />
              <div class="checkbox__text-container">
                <label for="checkbox-opt41" class="content--sm">Option 1</label>
                <span class="content--sm gray-300">Help text</span>
              </div>
            </div>
            <div class="checkbox">
              <input
                type="checkbox"
                name="checkbox-value-4"
                id="checkbox-opt42"
                class="checkbox__input"
              />
              <div class="checkbox__text-container">
                <label for="checkbox-opt42" class="content--sm">Option 2</label>
                <span class="content--sm gray-300">Help text</span>
              </div>
            </div>
            <div class="checkbox">
              <input
                type="checkbox"
                name="checkbox-value-4"
                id="checkbox-opt43"
                class="checkbox__input"
              />
              <div class="checkbox__text-container">
                <label for="checkbox-opt43" class="content--sm">Option 3</label>
                <span class="content--sm gray-300">Help text</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Login Form -->
    <div class="section--xs">
      <div class="container">
        <form action="#!" class="login-form">
          <div class="flex gap-16 mb-8">
            <div class="input">
              <label for="email" class="content--xs overline">Email</label>
              <div class="input__container">
                <input
                  type="email"
                  placeholder="example@mail.com"
                  class="input__content"
                  id="email"
                />
              </div>
            </div>
          </div>
          <div class="flex gap-16 mb-8">
            <div class="input">
              <label for="password" class="content--xs overline"
                >Password</label
              >
              <div class="input__container">
                <input
                  type="password"
                  placeholder="********"
                  class="input__content"
                  id="password"
                />
              </div>
              <span class="content--sm input__error-message"
                >Error message if any</span
              >
            </div>
          </div>
          <div class="flex space-between">
            <div class="checkbox">
              <input
                type="checkbox"
                name="remember"
                id="remember"
                class="checkbox__input"
              />
              <div class="checkbox__text-container">
                <label for="remember" class="content--sm">Remember me</label>
              </div>
            </div>
            <a href="#!" class="link content--sm">Forgot your password?</a>
          </div>
          <button class="btn btn--primary">Sign in</button>
        </form>
      </div>
</div>