<%= link_to 'Go to Components', design_components_path %>
    <!-- CTAs -->
    <!-- ONE BIG CTA -->
    <div class="section cta bg-primary-300 cta--pop-in">
      <div class="container cta__container">
        <h2 class="heading heading--xxl cta__title white">
          One big call to action
        </h2>
        <p class="content--xl cta__text white">
          Convallis feugiat et aliquet pellentesque dictum nisi, velit. Egestas
          fermentum adipiscing risus quam ac consectetur mattis turpis
          tristique.
        </p>
        <div class="cta__button-group">
          <button class="btn btn--subtle btn--large">Learn more</button>
          <button class="btn btn--secondary btn--large">Get started</button>
        </div>
      </div>
    </div>

    <!-- BIG CTA -->
    <div class="section cta bg-gray-100">
      <div class="container cta__container">
        <h2 class="heading heading--xxl cta__title">Big call to action</h2>
        <p class="content--xl cta__text primary-500">
          Convallis feugiat et aliquet pellentesque dictum nisi, velit. Egestas
          fermentum adipiscing risus quam ac consectetur mattis turpis
          tristique.
        </p>
      </div>
    </div>

    <!-- SMALL CTA -->
    <div class="section--sm cta bg-white">
      <div class="container cta__container">
        <h2 class="heading heading--xl cta__title">Small call to action</h2>
        <div class="cta__button-group">
          <button class="btn btn--subtle">Learn more</button>
          <button class="btn btn--primary">Get started</button>
        </div>
      </div>
    </div>

    <!-- QUESTION CTA -->
    <div class="section--sm cta bg-primary-100 cta-question">
      <div class="container cta__container--horizontal">
        <div class="cta__text-container">
          <span class="heading heading--lg">Intriguing question here?</span>
          <span class="heading heading--lg primary-500"
            >Here should be the call to action.</span
          >
        </div>
        <div class="cta__button-group">
          <button class="btn btn--subtle btn--large">Learn more</button>
          <button class="btn btn--primary btn--large">Get started</button>
        </div>
      </div>
    </div>

    <!-- BEST CURRICULUM -->
    <div class="section--sm cta cta-best-cv">
      <div class="container">
        <h2 class="primary-500 cta__title--overline">Best curriculum</h2>
        <p class="heading heading--lg mb-8">No Pain - No Gain</p>
        <p class="content--xl cta__text gray-300">
          Lorem ipsum dolor sit amet consect adipisicing elit. Possimus magnam
          voluptatum cupiditate veritatis in accusamus quisquam.
        </p>
        <ul class="grid grid--2col gap-32 p-0" role="list">
          <li class="flex gap-16">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="icon icon--md primary-500"
            >
              <path
                d="M10.394 2.08a1 1 0 00-.788 0l-7 3a1 1 0 000 1.84L5.25 8.051a.999.999 0 01.356-.257l4-1.714a1 1 0 11.788 1.838L7.667 9.088l1.94.831a1 1 0 00.787 0l7-3a1 1 0 000-1.838l-7-3zM3.31 9.397L5 10.12v4.102a8.969 8.969 0 00-1.05-.174 1 1 0 01-.89-.89 11.115 11.115 0 01.25-3.762zM9.3 16.573A9.026 9.026 0 007 14.935v-3.957l1.818.78a3 3 0 002.364 0l5.508-2.361a11.026 11.026 0 01.25 3.762 1 1 0 01-.89.89 8.968 8.968 0 00-5.35 2.524 1 1 0 01-1.4 0zM6 18a1 1 0 001-1v-2.065a8.935 8.935 0 00-2-.712V17a1 1 0 001 1z"
              />
            </svg>
            <div class="text-left">
              <p class="heading heading--xs">Ruby Madness</p>
              <p class="content--lg">
                Lorem ipsum dolor sit amet consect adipisicing elit. Possimus
                magnam voluptatum cupiditate veritatis in accusamus quisquam.
              </p>
            </div>
          </li>
          <li class="flex gap-16">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="icon icon--md primary-500"
            >
              <path
                d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"
              />
            </svg>
            <div class="text-left">
              <p class="heading heading--xs">Javascript Insomnia</p>
              <p class="content--lg">
                Lorem ipsum dolor sit amet consect adipisicing elit. Possimus
                magnam voluptatum cupiditate veritatis in accusamus quisquam.
              </p>
            </div>
          </li>
          <li class="flex gap-16">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="icon icon--md primary-500"
            >
              <path
                fill-rule="evenodd"
                d="M7 2a1 1 0 00-.707 1.707L7 4.414v3.758a1 1 0 01-.293.707l-4 4C.817 14.769 2.156 18 4.828 18h10.343c2.673 0 4.012-3.231 2.122-5.121l-4-4A1 1 0 0113 8.172V4.414l.707-.707A1 1 0 0013 2H7zm2 6.172V4h2v4.172a3 3 0 00.879 2.12l1.027 1.028a4 4 0 00-2.171.102l-.47.156a4 4 0 01-2.53 0l-.563-.187a1.993 1.993 0 00-.114-.035l1.063-1.063A3 3 0 009 8.172z"
                clip-rule="evenodd"
              />
            </svg>
            <div class="text-left">
              <p class="heading heading--xs">Rails Derails</p>
              <p class="content--lg">
                Lorem ipsum dolor sit amet consect adipisicing elit. Possimus
                magnam voluptatum cupiditate veritatis in accusamus quisquam.
              </p>
            </div>
          </li>
          <li class="gap-16 flex">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="icon icon--md primary-500"
            >
              <path d="M13 7H7v6h6V7z" />
              <path
                fill-rule="evenodd"
                d="M7 2a1 1 0 012 0v1h2V2a1 1 0 112 0v1h2a2 2 0 012 2v2h1a1 1 0 110 2h-1v2h1a1 1 0 110 2h-1v2a2 2 0 01-2 2h-2v1a1 1 0 11-2 0v-1H9v1a1 1 0 11-2 0v-1H5a2 2 0 01-2-2v-2H2a1 1 0 110-2h1V9H2a1 1 0 010-2h1V5a2 2 0 012-2h2V2zM5 5h10v10H5V5z"
                clip-rule="evenodd"
              />
            </svg>
            <div class="text-left">
              <p class="heading heading--xs">React while you can</p>
              <p class="content--lg">
                Lorem ipsum dolor sit amet consect adipisicing elit. Possimus
                magnam voluptatum cupiditate veritatis in accusamus quisquam.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- BEST JOBS -->
    <div class="section--sm cta bg-gray-100">
      <div class="container grid grid--3col gap-32">
        <div class="text-left">
          <h2 class="primary-500 cta__title--overline">Best jobs</h2>
          <p class="heading heading--lg mb-8">He who seeks finds</p>
          <p class="content--xl cta__text gray-300">
            Lorem ipsum dolor sit amet consect adipisicing elit. Possimus magnam
            voluptatum cupiditate veritatis in accusamus quisquam.
          </p>
        </div>
        <ul class="p-0 grid grid--2col gap-32 text-left best-jobs-list">
          <li class="gap-16">
            <p class="heading heading--xs">Get paid for what you love</p>
            <p class="content--lg">
              Lorem ipsum dolor sit amet consect adipisicing elit. Possimus
              magnam voluptatum cupiditate veritatis in accusamus quisquam.
            </p>
          </li>
          <li class="gap-16">
            <p class="heading heading--xs">Earn in US dollars</p>
            <p class="content--lg">
              Lorem ipsum dolor sit amet consect adipisicing elit. Possimus
              magnam voluptatum cupiditate veritatis in accusamus quisquam.
            </p>
          </li>
          <li class="gap-16">
            <p class="heading heading--xs">High market demand</p>
            <p class="content--lg">
              Lorem ipsum dolor sit amet consect adipisicing elit. Possimus
              magnam voluptatum cupiditate veritatis in accusamus quisquam.
            </p>
          </li>
          <li class="gap-16">
            <p class="heading heading--xs">Code eat and sleep</p>
            <p class="content--lg">
              Lorem ipsum dolor sit amet consect adipisicing elit. Possimus
              magnam voluptatum cupiditate veritatis in accusamus quisquam.
            </p>
          </li>
          <li class="gap-16">
            <p class="heading heading--xs">Work from everywhere</p>
            <p class="content--lg">
              Lorem ipsum dolor sit amet consect adipisicing elit. Possimus
              magnam voluptatum cupiditate veritatis in accusamus quisquam.
            </p>
          </li>
          <li class="gap-16">
            <p class="heading heading--xs">Work in talented teams</p>
            <p class="content--lg">
              Lorem ipsum dolor sit amet consect adipisicing elit. Possimus
              magnam voluptatum cupiditate veritatis in accusamus quisquam.
            </p>
          </li>
          <li class="gap-16">
            <p class="heading heading--xs">Receive bonuses</p>
            <p class="content--lg">
              Lorem ipsum dolor sit amet consect adipisicing elit. Possimus
              magnam voluptatum cupiditate veritatis in accusamus quisquam.
            </p>
          </li>
          <li class="gap-16">
            <p class="heading heading--xs">Make an impact</p>
            <p class="content--lg">
              Lorem ipsum dolor sit amet consect adipisicing elit. Possimus
              magnam voluptatum cupiditate veritatis in accusamus quisquam.
            </p>
          </li>
        </ul>
      </div>
    </div>

    <!-- SIGN FORM -->
    <div class="section--sm bg-primary-100">
      <div class="container">
        <h3 class="heading mb-40 text-center">Sign in to your account</h3>
        <form action="#!" class="login-form m-auto">
          <div class="flex gap-16 mb-8">
            <div class="input">
              <label for="email" class="content--xs overline">Email</label>
              <div class="input__container">
                <input
                  type="email"
                  placeholder="example@mail.com"
                  class="input__content"
                  id="email"
                />
              </div>
              <span class="content--sm input__error-message"
                >Error message</span
              >
            </div>
          </div>
          <div class="flex gap-16 mb-8">
            <div class="input">
              <label for="password" class="content--xs overline"
                >Password</label
              >
              <div class="input__container">
                <input
                  type="password"
                  placeholder="********"
                  class="input__content"
                  id="password"
                />
              </div>
              <span class="content--sm input__error-message"
                >Error message</span
              >
            </div>
          </div>
          <div class="flex space-between">
            <div class="checkbox">
              <input
                type="checkbox"
                name="remember"
                id="remember"
                class="checkbox__input"
              />
              <div class="checkbox__text-container">
                <label for="remember" class="content--sm">Remember me</label>
              </div>
            </div>
            <a href="#!" class="link content--sm">Forgot your password?</a>
          </div>
          <button class="btn btn--primary">Sign in</button>
        </form>
      </div>
    </div>