/* Background colors */
.bg-gray-100 {
  background-color: var(--gray-100);
}

.bg-primary-300 {
  background-color: var(--primary-300);
}

.bg-primary-100 {
  background-color: var(--primary-100);
}

.bg-white {
  background-color: white;
}

/* Font colors */
.white {
  color: white;
}

.primary-500 {
  color: var(--primary-500);
}

.gray-200 {
  color: var(--gray-200);
}

.gray-300 {
  color: var(--gray-300);
}

.error-300 {
  color: var(--error-300);
}

/* Margins */
.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-4 {
  margin-bottom: 8px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/* Paddings */
.p-0 {
  padding: 0;
}

/* Text styling */
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.relative {
  position: relative;
}

.fit-content {
  width: fit-content;
}

.full-width {
  width: 100%;
}

.mt-12 {
  margin-top: 12px;
}