.card {
  background: white;
  border-radius: 8px;
  padding: 4px 8px;
}

.card__container {
  display: flex;
  flex-direction: column;
}

.card__header {
  display: flex;
  gap: 4px;
}

.cards-block {
  display: flex;
  flex-direction: column;
  gap: 8px;
}