.cta {
  text-align: center;
}

.cta__title {
  margin-bottom: 24px;
}

.cta--pop-in .cta__title {
  animation-delay: 100ms;
  animation: pop-in 600ms ease-out backwards;
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-2rem) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.cta__title--overline {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.cta__text {
  max-width: 768px;
  margin: auto;
  margin-bottom: 16px;
}

.cta--pop-in .cta__text {
  animation: pop-in 300ms ease-out backwards;
  animation-delay: 500ms;
}

.cta__button-group {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 32px;
}

.cta--pop-in .cta__button-group {
  animation: fade-in 600ms ease-in backwards;
  animation-delay: 1000ms;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cta__container--horizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta__text-container {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  text-align: left;
}

/* Mobile Styles */
@media (max-width: 480px) {
  .cta__title {
    font-size: 48px;
    line-height: 48px;
  }

  .cta .btn {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1.25px;
    padding: 8px 16px;
  }

  .heading--lg {
    font-size: 24px;
    line-height: 32px;
  }
}

/* Tablet Styles */
@media (max-width: 1024px) {
  .cta-question .container {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 480px) {
  .cta-best-cv .grid {
    grid-template-columns: 1fr;
  }

  .cta-best-cv {
    text-align: left;
  }
}
