.flash-card {
  padding: 12px 16px;
  box-shadow: var(--shadow-base);
  border: 1px solid var(--gray-100);
  background-color: white;
  border-radius: 8px;
  max-width: 320px;
  position: absolute;
  right: 16px;
  top: 16px;
  align-items: flex-start;
}

.flash-card img {
  width: 32px;
}
