.login-form {
  background-color: white;
  border-radius: 8px;
  padding: 32px 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  box-shadow: var(--shadow-base);
  max-width: 440px;
  border: 1px solid var(--gray-100);
}

.login-form .input {
  width: 100%;
}

.link {
  color: var(--primary-300);
  text-decoration: none;
}

.link:hover {
  color: var(--primary-500);
}

.link:focus {
  outline: 1px solid var(--primary-300);
}

.user-form {
  padding: 24px 16px;
  background-color: white;
  border-radius: 8px;
  box-shadow: var(--shadow-base);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.user-form .input {
  width: 100%;
}

.user-form .form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.social-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}
