@import "./global.css";
@import "./components/button.css";
@import "./components/cta.css";
@import "./components/icon.css";
@import "./components/navbar.css";
@import "./components/input.css";
@import "./components/forms.css";
@import "./components/profile.css";
@import "./components/card.css";
@import "./components/footer.css";
@import "./components/tweet.css";
@import "./components/comment.css";
@import "./components/flash.css";


/* index.html */
.headings-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.buttons-container {
  padding: 16px;
}

.button-row {
  display: flex;
  gap: 16px;
  padding: 16px;
  align-items: center;
}

.best-jobs-list {
  grid-column-start: 2;
  grid-column-end: 4;
  list-style: none;
}

.best-jobs-list li {
  padding-left: 48px;
  background-image: url(/images/icons/check-splash.svg);
  background-size: 32px;
  background-repeat: no-repeat;
}

.field_with_errors {
  display: contents;
}

.generic-container {
  padding: 16px 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

body {
  background-color: var(--gray-100);
  display: flex;
  flex-direction: column;
  /* max-height: 100vh; */
}

main {
  flex-grow: 1;
  overflow: auto;
}
